{% extends "base.html" %} {% load static %} {% block content %}

<div class="page-content container container-plus" style="background-color: white;">
  <!-- page header -->
  <div class="d-lg-none page-header py-0">
    <h1 class="text-dark-m3 pb-0 mb-0 text-125">Overview</h1>

    <!-- page tools -->
    <div class="page-tools d-none">
      <div class="action-buttons text-nowrap">
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Details"
        >
          <i class="fa fa-search-plus text-blue"></i>
        </a>
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Print"
        >
          <i class="fa fa-print text-purple"></i>
        </a>
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Remove"
        >
          <i class="fa fa-trash-alt text-danger"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row px-2 mt-3">
    <div class="col-12 col-md-3 px-0 mb-2 mb-md-0">
      <div class="ccard h-100 pt-2 pb-25 px-25 d-flex mx-2 overflow-hidden shadow">
        <!-- the colored circles on bottom right -->
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-purple-l3 opacity-3"
          style="width: 5.25rem; height: 5.25rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-purple-l2 opacity-5"
          style="width: 4.75rem; height: 4.75rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-purple-l1 opacity-5"
          style="width: 4.25rem; height: 4.25rem"
        ></div>

        <div class="flex-grow-1 pl-25 pos-rel d-flex flex-column">
          <div class="text-secondary-d4">
            <span class="text-200">
              {{modeReview.total_review}} 
            </span>

            <span class="text-md text-purple-m1 align-text-bottom text-nowrap">
            
            </span>
          </div>

          <div
            class="mt-auto text-nowrap text-secondary-d2 text-105 letter-spacing mt-n1"
          >
            Total Reviews
          </div>
        </div>

        <div class="ml-auto pr-1 align-self-center pos-rel text-125">
          <i class="fa fa-balance-scale-left text-purple opacity-1 fa-2x mr-25"></i>
        </div>
      </div>
      <!-- /.ccard -->
    </div>
    <!-- /.col -->

    <div class="col-12 col-md-3 px-0 mb-2 mb-md-0">
      <div class="ccard h-100 pt-2 pb-25 px-25 d-flex mx-2 overflow-hidden justify-content-start align-items-center shadow">
        
        <!-- <div class="text-center pos-rel ml-1">
          <canvas class="infobox-piechart" data-value="71" style="height: 75px; width: 75px; max-height: 60px; max-width: 60px;"></canvas>
          <span class="position-center text-dark-tp3 text-600">
              71%
          </span>
        </div> -->
        <!-- the colored circles on bottom right -->
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-success-l3 opacity-3"
          style="width: 5.25rem; height: 5.25rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-success-l2 opacity-5"
          style="width: 4.75rem; height: 4.75rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-success-l1 opacity-5"
          style="width: 4.25rem; height: 4.25rem"
        ></div>

        <div class="flex-grow-1 pl-25 pos-rel d-flex flex-column">
          <div class="text-secondary-d4">
            
            <span class="text-200">{{modeReview.total_positive_review}} </span>

            <span class="text-110 text-success-m1 align-text-bottom text-nowrap ">
              ({{modeReview.positive_percent}}%)
            </span>
          </div>

          <div
            class="mt-auto text-nowrap text-secondary-d2 text-105 letter-spacing mt-n1"
          >
            Positive Reviews
          </div>
        </div>

        <div class="ml-auto pr-1 align-self-center pos-rel text-125">
          <i class="fa fa-smile-beam  opacity-1 fa-2x mr-25" style="color: #28a745;"></i>
        </div>

        
      </div>
      <!-- /.ccard -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-md-3 px-0 mb-2 mb-md-0">
      <div class="ccard h-100 pt-2 pb-25 px-25 d-flex mx-2 overflow-hidden shadow">
        <!-- the colored circles on bottom right -->
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-primary-l3 opacity-3"
          style="width: 5.25rem; height: 5.25rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-primary-l2 opacity-5"
          style="width: 4.75rem; height: 4.75rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-primary-l1 opacity-5"
          style="width: 4.25rem; height: 4.25rem"
        ></div>

        <div class="flex-grow-1 pl-25 pos-rel d-flex flex-column">
          <div class="text-secondary-d4">
            <span class="text-200"> {{modeReview.total_neutral_review}} </span>

            <span class="text-110 text-primary-m1 align-text-bottom text-nowrap">
              ({{modeReview.neutral_percent}}%)
            </span>
          </div>

          <div
            class="mt-auto text-nowrap text-secondary-d2 text-105 letter-spacing mt-n1"
          >
            Neutral Reviews
          </div>
        </div>

        <div class="ml-auto pr-1 align-self-center pos-rel text-125">
          <i class="fa fa-meh-rolling-eyes text-primary opacity-1 fa-2x mr-25"></i>
        </div>
      </div>
      <!-- /.ccard -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-md-3 px-0 mb-2 mb-md-0">
      <div class="ccard h-100 pt-2 pb-25 px-25 d-flex mx-2 overflow-hidden shadow">
        <!-- the colored circles on bottom right -->
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-danger-l3 opacity-3"
          style="width: 5.25rem; height: 5.25rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-danger-l2 opacity-5"
          style="width: 4.75rem; height: 4.75rem"
        ></div>
        <div
          class="position-br mb-n5 mr-n5 radius-round bgc-danger-l1 opacity-5"
          style="width: 4.25rem; height: 4.25rem"
        ></div>

        <div class="flex-grow-1 pl-25 pos-rel d-flex flex-column">
          <div class="text-secondary-d4">
            <span class="text-200"> {{modeReview.total_negative_review}} </span>

            <span class="text-110 text-danger-m1 align-text-bottom text-nowrap">
              ({{modeReview.negative_percent}}%)
            </span>
          </div>

          <div
            class="mt-auto text-nowrap text-secondary-d2 text-105 letter-spacing mt-n1"
          >
            Negative Reviews   

          </div>
        </div>

        <div class="ml-auto pr-1 align-self-center pos-rel text-125">
          <i class="fa fa-frown text-danger opacity-1 fa-2x mr-25"></i>
        </div>
      </div>
      <!-- /.ccard -->
    </div>
    <!-- /.col -->
  </div>

  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 px-2 mt-2 mb-1 mb-md-0">

      <div class="bcard d-flex  text-center px-3 py-3  h-100 justify-content-lg-center justify-content-sm-start align-items-center flex-wrap shadow   rounded" >
        <div class="mb-1">
          <span class="d-inline-block bgc-primary-l2 p-3 radius-round">
            <img src="/static/google.png" style="height: 55px; width: 55px" class="rounded-circle"></i>
          </span>
          
          
        </div>
        {% if modeReview.Google.place_attached == True%}

        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center  ">
            <i class="fas fa-tags mr-1"></i>  {{modeReview.Google.total_shop}} Places
          </div>
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
            <i class="fas fa-comment-dots mr-1"></i>  {{modeReview.Google.total_review}} Reviews 
          </div>
        </div>

        {% else %}
        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
             No Google Account Added
          </div>
         
        </div>
        {% endif %}


        <div class="text-blue-m1 font-bolder position-tr m-2">
          <div class="card-toolbar no-border align-self-start">
                      <!-- the dropdown used in some boxes (cards) -->
                      <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button
                          type="button"
                          class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle"
                          data-toggle="dropdown"
                          data-display="static"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div
                          class="dropdown-menu mw-auto dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md"
                        >
                          <div class="dropdown-inner">
                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                            <i class="fa fa-plus-circle text-blue mr-1"></i>
                            Add Place
                            </a>

                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                            <i class="fas fa-edit text-blue mr-1"></i>
                            Edit Place
                            </a>
                          </div>
                        </div>
                      </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-6 col-md-4 px-2 mt-2 mb-1 mb-md-0">

      <div class="bcard d-flex  text-center px-3 py-3 h-100 justify-content-lg-center justify-content-sm-start align-items-center flex-wrap shadow rounded">
        <div class="mb-1">
          <span class="d-inline-block bgc-primary-l2 p-3 radius-round">
            <img src="/static/facebook.png" style="height: 55px; width: 55px" class="rounded-circle"></i>
      </span>
        </div>
        {% if modeReview.Facebook.place_attached == True%}

        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
            <i class="fas fa-tags mr-1"></i>  {{modeReview.Facebook.total_shop}} Places
          </div>
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
            <i class="fas fa-comment-dots mr-1"></i>  {{modeReview.Facebook.total_review}} Reviews 
          </div>
        </div>


        {% else %}
        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
             No Facebook Page Added
          </div>
         
        </div>
        {% endif %}

        <div class="text-blue-m1 font-bolder position-tr m-2">
          <div class="card-toolbar no-border align-self-start">
                      <!-- the dropdown used in some boxes (cards) -->
                      <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button
                          type="button"
                          class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle"
                          data-toggle="dropdown"
                          data-display="static"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div
                          class="dropdown-menu mw-auto dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md"
                        >
                          <div class="dropdown-inner">
                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                            <i class="fa fa-plus-circle text-blue mr-1"></i>
                            Add Page
                            </a>

                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                            <i class="fas fa-edit text-blue mr-1"></i>
                            Edit Page
                            </a>
                          </div>
                        </div>
                      </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-6 col-md-4 px-2 mb-1 mt-2 mb-md-0">

      <div class="bcard d-flex   text-center px-3 py-3 h-100 justify-content-lg-center justify-content-sm-start align-items-center flex-wrap shadow rounded">
        <div class="mb-1">
          <span class="d-inline-block bgc-primary-l2 p-3 radius-round">
            <img src="/static/yelp.png" style="height: 55px; width: 55px" class="rounded-circle"></i>
      </span>
        </div>

        {% if modeReview.Yelp.place_attached == True%}
        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
            <i class="fas fa-tags mr-1"></i>  {{modeReview.Yelp.total_shop}} Places
          </div>
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
            <i class="fas fa-comment-dots mr-1"></i>  {{modeReview.Yelp.total_review}} Reviews 
          </div>
        </div>
        {% else %}
        <div class="d-flex mt-1 ml-3 justify-content-start flex-column ">
          <div class="d-flex text-secondary-d3 text-110 justify-content-start align-items-center ">
             No Yelp Account Added
          </div>
         
        </div>
        {% endif %}

        <div class="text-blue-m1 font-bolder position-tr m-2">
          <div class="card-toolbar no-border align-self-start">
                      <!-- the dropdown used in some boxes (cards) -->
                      <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button
                          type="button"
                          class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle"
                          data-toggle="dropdown"
                          data-display="static"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div
                          class="dropdown-menu mw-auto dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md"
                        >
                          <div class="dropdown-inner">
                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                              <i class="fa fa-plus-circle text-blue mr-1"></i>
                              Add Shop
                            </a>

                            <a
                              class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3"
                              href="#"
                            >
                              <i class="fas fa-edit text-blue mr-1"></i>
                              Edit Shop
                            </a>
                          </div>
                        </div>
                      </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-4">
    <!--Google Business chart -->
    {% if modeReview.Google.place_attached == True %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header border-2" style="background-color: lavender;">
            <h5 class="card-title text-120 text-dark-m1 pl-1" style="font-weight: 600;">
              Google Business
            </h5>
          </div>

          <div class="card-body p-3 d-flex flex-column shadow rounded">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap" >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="google-business-chart"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
              <form method="POST" action="{% url 'google_summary'%}">
              {% csrf_token %}
              <input type="hidden" name="forWhat" value="dashboard-redirect" />

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </form>
            </div>
            
          </div>
          
        </div>
      </div>
    {% else %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header bgc-primary-l2 border-0" style="opacity: 0.7;">
            <h5 class="card-title text-120 text-dark-m1 pl-1">
              Google Business
            
            </h5>
          </div>

          <div class="card-body p-3 d-flex flex-column" style=" -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap"
            >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="google-business-chart"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                    -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);

                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
            

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </div>
          </div>
          <!-- .card-body -->
          <div
            class="pos-abs  bcard card w-100 h-100 justify-content-center modal-backdrop fade show bg-secondary"
            style="z-index: 10;"
          ></div>
          <div
            class="pos-abs bcard card w-100 h-100 justify-content-center"
            style="z-index: 11; background-color: transparent"
          >
            <div class="mx-auto">
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary">Add your Google Account!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- facebook page chart -->
    {% if modeReview.Facebook.place_attached == True %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header border-2" style="background-color: lavender;">
            <h5 class="card-title text-120 text-dark-m1 pl-1" style="font-weight: 600;">Facebook Page</h5>
          </div>

          <div class="card-body p-3 d-flex flex-column shadow rounded">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap"
            >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="facebook-page-chart2"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
              <form method="POST" action="{% url 'facebook_summary'%}">
              {% csrf_token %}
              <input type="hidden" name="forWhat" value="dashboard-redirect" />

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </form>
            </div>
            
          </div>
          <!-- .card-body -->
           
        </div>
      </div>
    {% else %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header bgc-primary-l2 border-0" style="opacity: 0.7;">
            <h5 class="card-title text-120 text-dark-m1 pl-1">
              Facebook Page
            
            </h5>
          </div>

          <div class="card-body p-3 d-flex flex-column" style=" -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap"
            >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="facebook-page-chart2"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                    -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);

                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
            

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </div>
          </div>
          <!-- .card-body -->
          <div
            class="pos-abs  bcard card w-100 h-100 justify-content-center modal-backdrop fade show bg-secondary"
            style="z-index: 10;"
          ></div>
          <div
            class="pos-abs bcard card w-100 h-100 justify-content-center"
            style="z-index: 11; background-color: transparent"
          >
            <div class="mx-auto">
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary">Add your Facebook Page!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    <!-- Yelp Page chart -->
    {% if modeReview.Yelp.place_attached == True %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2 shadow rounded">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header border-2" style="background-color: lavender;">
            <h5 class="card-title text-120 text-dark-m1 pl-1" style="font-weight: 600;">Yelp Account</h5>
          </div>

          <div class="card-body p-3 d-flex flex-column">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap"
            >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="yelp-account-chart3"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
              <form method="POST" action="{% url 'google_summary'%}">
              {% csrf_token %}
              <input type="hidden" name="forWhat" value="dashboard-redirect" />

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </form>
            </div>
            
          </div>
          <!-- .card-body -->
          
        </div>
      </div>
    {% else %}
      <div class="col-12 col-lg-4 mt-2 mt-lg-0 pr-lg-2">
        <div class="bcard card h-100 pt-0 mx-auto">
          <div class="card-header bgc-primary-l2 border-0" style="opacity: 0.7;">
            <h5 class="card-title text-120 text-dark-m1 pl-1">
              Yelp Account
            
            </h5>
          </div>

          <div class="card-body p-3 d-flex flex-column" style=" -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);">
            <div
              class="d-flex align-items-start justify-content-center flex-wrap"
            >
              <div class="pos-rel">
                <!-- <div class="position-center text-center text-default-d2 mt-n25">
                  <span> total </span>
                  <span class="mt-n2 d-block text-200 text-secondary-d3 text-600">
                    55k
                  </span>
                </div> -->

                <canvas
                  id="yelp-account-chart3"
                  class="pos-rel mb-3"
                  style="
                    height: 150px;
                    width: 150px;
                    max-height: 150px;
                    max-width: 150px;
                    -webkit-filter: blur(1px);
                    -moz-filter: blur(1px);
                    -o-filter: blur(1px);
                    -ms-filter: blur(1px);
                    filter: blur(1px);

                  "
                ></canvas>
              </div>
            </div>
            <div class="flex-grow-1 ">
            

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Get Insights  <i class="fas fa-arrow-circle-right" ></i></button>
              </div>
            </div>
          </div>
          <!-- .card-body -->
          <div
            class="pos-abs  bcard card w-100 h-100 justify-content-center modal-backdrop fade show bg-secondary"
            style="z-index: 10;"
          ></div>
          <div
            class="pos-abs bcard card w-100 h-100 justify-content-center"
            style="z-index: 11; background-color: transparent"
          >
            <div class="mx-auto">
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary">Add your Yelp Account!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  <!-- /.row -->
</div>
{{ modeReview.Google |json_script:"googledata" }}
{{modeReview.Facebook|json_script:"fbdata" }}
{{modeReview.Yelp|json_script:"yelpdata" }}

<script>
  var _animate = !AceApp.Util.isReducedMotion();
  // Traffic Sources piechart
  var config_traffic_sources = {
    type: "doughnut",
    data: {
      datasets: [
        {
          label: "Traffic Sources",
          data: [4, 4, 4, 4, 4],
          backgroundColor: ["#42b254", "#2a8dcb", "#9957bc", "#efcc4e"],
        },
      ],
      labels: [
        "Positive Reviews",
        "Neutral Reviews",
        "Negative Reviews",
        "Ratings Only",
      ],
    },

    options: {
      responsive: true,

      cutoutPercentage: 0,
      legend: {
        display: false,
      },
      animation: {
        animateRotate: true,
        duration: _animate ? 1000 : false,
      },
      tooltips: {
        enabled: true,
        cornerRadius: 0,
        bodyFontColor: "#fff",
        bodyFontSize: 14,
        fontStyle: "bold",

        backgroundColor: "rgba(34, 34, 34, 0.73)",
        borderWidth: 0,

        caretSize: 5,

        xPadding: 12,
        yPadding: 12,

        callbacks: {
          label: function (tooltipItem, data) {
            return (
              " " +
              data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] +
              "%"
            );
          },
        },
      },
    },
  };

  var googleBusinessCanvas = document.getElementById("google-business-chart");
  const data = JSON.parse(document.getElementById("googledata").textContent);
  if (data.total_review == 0) {
    var arrData = [1, 1, 1, 1];
  } else {
    var arrData = [
      data.total_positive_review,
      data.total_neutral_review,
      data.total_negative_review,
      data.total_count - data.total_review,
    ];
  }
  var config_google = {
    type: "doughnut",
    data: {
      datasets: [
        {
          label: "Traffic Sources",
          data: arrData,
          backgroundColor: ["#42b254", "#2a8dcb", "#B22222", "#efcc4e"],
        },
      ],
      labels: [
        "Positive Reviews",
        "Neutral Reviews",
        "Negative Reviews",
        "Ratings Only",
      ],
    },

    options: {
      responsive: true,

      cutoutPercentage: 0,
      legend: {
        display: false,
      },
      animation: {
        animateRotate: true,
        duration: _animate ? 1000 : false,
      },
      tooltips: {
        enabled: true,
        cornerRadius: 0,
        bodyFontColor: "#fff",
        bodyFontSize: 14,
        fontStyle: "bold",

        backgroundColor: "rgba(34, 34, 34, 0.73)",
        borderWidth: 0,

        caretSize: 5,

        xPadding: 12,
        yPadding: 12,

        callbacks: {
          label: function (tooltipItem, data) {
            return (
              " " +
              data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
            );
          },
        },
      },
    },
  };

  var googleBusinessPieChart = new Chart(googleBusinessCanvas, config_google);

  // place legends
  $(googleBusinessCanvas)
    .parent()
    .after(
      "<div id='google-business-legends' class='piechart-legends text-95 text-secondary-d3 pt-3'>" +
        googleBusinessPieChart.generateLegend() +
        "</div>"
    );

  var googleBusinessChart_Legends_Wrapped =
    document.getElementById("google-business-legends").offsetTop >
    googleBusinessCanvas.offsetTop + googleBusinessCanvas.offsetHeight;

  ////chart2

  var facebookPageCanvas2 = document.getElementById("facebook-page-chart2");

  const data2 = JSON.parse(document.getElementById("fbdata").textContent);
  console.log(data2);
  if (data2.total_review == 0) {
    var arrData2 = [1, 1, 1];
  } else {
    var arrData2 = [
      data2.total_positive_review,
      data2.total_neutral_review,
      data2.total_negative_review,
    ];
  }
  var config_facebook = {
    type: "doughnut",
    data: {
      datasets: [
        {
          label: "Facebook Data",
          data: arrData2,
          backgroundColor: ["#42b254", "#2a8dcb", "#B22222"],
        },
      ],
      labels: ["Positive Reviews", "Neutral Reviews", "Negative Reviews"],
    },

    options: {
      responsive: true,

      cutoutPercentage: 0,
      legend: {
        display: false,
      },
      animation: {
        animateRotate: true,
        duration: _animate ? 1000 : false,
      },
      tooltips: {
        enabled: true,
        cornerRadius: 0,
        bodyFontColor: "#fff",
        bodyFontSize: 14,
        fontStyle: "bold",

        backgroundColor: "rgba(34, 34, 34, 0.73)",
        borderWidth: 0,

        caretSize: 5,

        xPadding: 12,
        yPadding: 12,

        callbacks: {
          label: function (tooltipItem, data) {
            return (
              " " +
              data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
            );
          },
        },
      },
    },
  };

  var facebookPagePieChart2 = new Chart(facebookPageCanvas2, config_facebook);

  // place legends
  $(facebookPageCanvas2)
    .parent()
    .after(
      "<div id='facebook-page-legends2' class='piechart-legends text-95 text-secondary-d3 pt-3'>" +
        facebookPagePieChart2.generateLegend() +
        "</div>"
    );

  var facebookPageChart_Legends_Wrapped2 =
    document.getElementById("facebook-page-legends2").offsetTop >
    facebookPageCanvas2.offsetTop + facebookPageCanvas2.offsetHeight;

  ////chart3

  var yelpAccountCanvas3 = document.getElementById("yelp-account-chart3");

  const data3 = JSON.parse(document.getElementById("yelpdata").textContent);
  if (data3.total_review == 0) {
    var arrData3 = [1, 1, 1, 1];
  } else {
    var arrData3 = [
      data3.total_positive_review,
      data3.total_neutral_review,
      data3.total_negative_review,
      data3.total_count - data3.total_review,
    ];
  }
  var config_yelp = {
    type: "doughnut",
    data: {
      datasets: [
        {
          label: "Yelp Data",
          data: arrData3,
          backgroundColor: ["#42b254", "#2a8dcb", "#B22222", "#efcc4e"],
        },
      ],
      labels: [
        "Positive Reviews",
        "Neutral Reviews",
        "Negative Reviews",
        "Ratings Only",
      ],
    },

    options: {
      responsive: true,

      cutoutPercentage: 0,
      legend: {
        display: false,
      },
      animation: {
        animateRotate: true,
        duration: _animate ? 1000 : false,
      },
      tooltips: {
        enabled: true,
        cornerRadius: 0,
        bodyFontColor: "#fff",
        bodyFontSize: 14,
        fontStyle: "bold",

        backgroundColor: "rgba(34, 34, 34, 0.73)",
        borderWidth: 0,

        caretSize: 5,

        xPadding: 12,
        yPadding: 12,

        callbacks: {
          label: function (tooltipItem, data) {
            return (
              " " +
              data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
            );
          },
        },
      },
    },
  };

  var yelpAccountPieChart3 = new Chart(yelpAccountCanvas3, config_yelp);

  // place legends
  $(yelpAccountCanvas3)
    .parent()
    .after(
      "<div id='yelp-account-legends3' class='piechart-legends text-95 text-secondary-d3'>" +
        yelpAccountPieChart3.generateLegend() +
        "</div>"
    );

  var yelpAccountChart_Legends_Wrapped3 =
    document.getElementById("yelp-account-legends3").offsetTop >
    yelpAccountCanvas3.offsetTop + yelpAccountCanvas3.offsetHeight;

  ///////////////////////////////////////////////////////////////


  $('.infobox-piechart').each(function() {
    var val = parseInt($(this).data('value'))
    new Chart(this, {
      type: 'doughnut',
      data: {
        datasets: [{
          label: 'Task Progress',
          data: [val, 100 - val],
          backgroundColor: [
            "#28a745",
            "#e1e3f0",
          ],
          hoverBackgroundColor: [
            "#6775b3",
            "#e1e3f0",
          ],
          borderWidth: 0
        }]
      },

      options: {
        responsive: true,

        cutoutPercentage: 80,
        legend: {
          display: false
        },
        animation: {
          // animateScale: true,
          animateRotate: true,
          duration: _animate ? 1000 : false
        },
        tooltips: {
          enabled: false
        }
      }
    })
  })
</script>

{% endblock %}
