{% extends "base.html" %} {% load static %} {% block content %}

<div class="page-content container container-plus p-lg-0">
  <!-- page header -->
  <div class="d-lg-none page-header py-0">
    
    <!-- page tools -->
    <div class="page-tools d-none">
      <div class="action-buttons text-nowrap">
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Details"
        >
          <i class="fa fa-search-plus text-blue"></i>
        </a>
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Print"
        >
          <i class="fa fa-print text-purple"></i>
        </a>
        <a
          class="btn bgc-white btn-light-secondary mx-0"
          href="#"
          data-toggle="tooltip"
          title="Remove"
        >
          <i class="fa fa-trash-alt text-danger"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row p-0">
    <div
      class="col-lg-3 col-md-12 order-lg-2 border-vr bg-white d-flex flex-column alignt-items-center">
      <div
        class="mt-4 d-flex justify-content-center align-items-center flex-wrap"
      >
        <h4 class="font-weight-bold">Filters</h4>
        <div>
          
        </div>
      </div>
      <form action="{% url 'review_analysis' %}" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-wrap justify-content-center mr-lg-2">
        
            
        <select
        class="selectpicker testselect m-1"
        name="source_select"
        id="source_select"
        data-actions-box="true"
        data-live-search="true"
        data-selected-text-format="count > 3"
        data-style="btn-white"
        title="Choose Source">

        <option data-tokens="Select Source" value="Select Source"  selected>Select Source</option>

        {% for item in source_select %}
          
          {% if selected_source == item %}
            <option data-tokens="{{item}}" value="{{item}}" selected>{{item}}</option>
          {% else %}
            <option data-tokens="{{item}}" value="{{item}}" >{{item}}</option>
          {% endif %}
        {% endfor %}




        </select>
          

        <select
          class="selectpicker testselect m-1 "
          name="place_select"
          id="place_select"
          multiple
          data-actions-box="true"
          data-live-search="true"
          data-selected-text-format="count > 3"
          data-style="btn-white"
          title="Choose Places"
          style="display: none;"
          onload="hideElement()"
          
        >
        </select>


        <script>
         


          $("#source_select")
            .change(function () {
              $("#source_select option:selected").each(function () {
                console.log($(this).text())
                if ($(this).text() == "Select Source") {
                  $("#place_select").selectpicker("hide");


                } 
                 else {
                  var place = {{place_select | safe }};
                  var selected_place = {{selected_place | safe }};
                  selected_placedata = place[$(this).text()]

                  $("#place_select").empty()

                  console.log(selected_place)

                  for(item in selected_placedata){
                    var optionText = selected_placedata[item]["shopname"];
                    var optionValue = selected_placedata[item]["shopid"];

                    if(selected_place.includes(optionValue)){
                      $("#place_select").append(`<option value="${optionValue}" selected>
                        ${optionText} 
                   </option>`);
                      console.log(selected_place.includes(optionValue))

                    }
                    else{
                      $("#place_select").append(`<option value="${optionValue}">
                        ${optionText} 
                   </option>`);
                    }
                  }

                  
                  $("#place_select").selectpicker("show");

                  $("#place_select").selectpicker("refresh");

                  if($(this).text() == "Facebook") {
                    $("#rating_select").selectpicker("hide");
                  } 
                }
              });
            })
            .change();
        </script>



        <select
          class="selectpicker testselect m-1"
          name="sentiment_select"
          multiple
          data-actions-box="true"
          data-live-search="true"
          data-selected-text-format="count > 3"
          data-style="btn-white"
          title="Choose Sentiment"
        >
          {% if "positive" in selected_sentiment %}
            <option data-tokens="positive" value="positive" selected>Positive</option>
          {% else %}
            <option data-tokens="positive" value="positive" >Positive</option>
          {% endif %}

          {% if "neutral" in selected_sentiment %}
            <option data-tokens="neutral" value="neutral" selected>Neutral</option>
          {% else %}
            <option data-tokens="neutral" value="neutral" >Neutral</option>
          {% endif %}

          {% if "negative" in selected_sentiment %}
            <option data-tokens="negative" value="negative" selected>Negative</option>
          {% else %}
            <option data-tokens="negative" value="negative" >Negative</option>
          {% endif %}

        </select>
        <select
          class="selectpicker testselect m-1"
          name="rating_select"
          id="rating_select"
          multiple
          data-actions-box="true"
          data-live-search="true"
          data-selected-text-format="count > 3"
          data-style="btn-white"
          title="Choose Rating"
        >
          {% if "5" in selected_rating %}
            <option data-tokens="5_star" value="5" selected > 5 Star</option>
          {% else %}
            <option data-tokens="5_star" value="5" > 5 Star</option>
          {% endif %}

          {% if "4" in selected_rating %}
            <option data-tokens="4_star" value="4" selected>4 Star</option>
          {% else %}
            <option data-tokens="4_star" value="4" >4 Star</option>
          {% endif %}

          {% if "3" in selected_rating %}
            <option data-tokens="3_star" value="3" selected>3 Star</option>
          {% else %}
            <option data-tokens="3_star" value="3" >3 Star</option>
          {% endif %}


          {% if "2" in selected_rating %}
            <option data-tokens="2_star" value="2" selected>2 Star</option>
          {% else %}
            <option data-tokens="2_star" value="2" >2 Star</option>
          {% endif %}


          {% if "1" in selected_rating %}
            <option data-tokens="1_star" value="1" selected>1 Star</option>
          {% else %}
            <option data-tokens="1_star" value="1">1 Star</option>
          {% endif %}
      
        </select>
        
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-2">Apply</button>
        </div>
      </form>

    </div>

    <div class="col-lg-9 col-md-12 order-lg-1 px-lg-5 px-sm-1 pb-3" style="background-color: white;">
      <!-- /.row -->
      <div class="d-flex flex-column">
        <div
          class="mt-4 d-flex justify-content-between align-items-center flex-wrap"
        >
         
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <h4 class="font-weight-bold ml-2">You have {{total_review}} reviews</h4>
            <span
              class="ml-3  badge badge-secondary rounded"
              style="font-size: 18px"
              >Average : {{avg_rating}}
            </span>

            
          </div>
          <div >
            <span
              class="badge bgc-white border-2 brc-purple-m1 text-dark-tp3 badge-pill badge-lg pb-4 bgc-h-purple-l3 "
            
              >Most Recent
            </span>

            
          </div>
        </div>


        {% for item in reviewdataTB %}
        
    <div class="col-lg-12 col-md-12 col-sm-12 my-3 pr-lg-2">
      <div class="shadow bcard card h-100 pt-0 mx-auto">
        <div class="card-header border-0 d-flex">
          <div class="d-flex jutify-content-start">
            <div class="m-0 p-2">
              {% if item.shop_id.modeofreview == "Google"%}
              <img
                src="{% static 'google.png' %}"
                style="height: 55px; width: 55px"
                class="rounded-circle"
              />
              {% elif item.shop_id.modeofreview == "Facebook"%}
              <img
                src="{% static 'facebook.png' %}"
                style="height: 55px; width: 55px"
                class="rounded-circle"
              />
              {% endif %}
            </div>
            <div
              class="d-flex flex-column align-items-start justify-content-center"
            >
            <div class="d-flex flex-row  flex-wrap   ">
              {% if item.shop_id.modeofreview == "Google"%}

              <span>

                  {% if item.rating == 5 %}
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  {% elif item.rating == 4 %}
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-grey-l1"></i>

                  {% elif item.rating == 3 %}
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>

                  {% elif item.rating == 2 %}
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>

                  {% elif item.rating == 1 %}
                  <i class="fa fa-star text-orange-m2"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  <i class="fa fa-star text-grey-l1"></i>
                  {% endif %}
              </span>
              <span
                  class="ml-sm-1 ml-md-3 text-muted d-flex flex-nowrap align-items-center"
                  style="font-size: 14px; font-weight: 600">
                  <i class="fas fa-map-marker-alt"></i>
                  &nbsp;{{item.shop_id.shopname}}
              </span>
              {% else %}
                <span
                class=" text-muted d-flex flex-nowrap align-items-center"
                style="font-size: 14px; font-weight: 600">
                <i class="fas fa-map-marker-alt"></i>
                &nbsp;{{item.shop_id.shopname}}
                </span>
              {% endif %}


              
            </div>

              <div class="d-flex flex-row  flex-wrap   ">
                <span class="font-weight-bold" style="font-size: 14px">
                  <i class="far fa-user mr-1 pt-3" style="font-size: 14px"></i>
                  {{item.username}}
                </span>
                <span class=" ml-2" style="font-size: 12px">
                  <i class="far fa-calendar-alt mr-1 pt-3" style="font-size: 12px"></i>
                  {{item.timestamp|make_list|slice:'8:10'|join:''}}-{{item.timestamp|make_list|slice:'5:7'|join:''}}-{{item.timestamp|make_list|slice:':4'|join:''}}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex jutify-content-end align-items-center">
            {% if item.sentiment >= 0.25 %}
            <span
              class="p-2 badge badge-success m-2 rounded"
              style="font-size: 15px"
              >Positive</span
            >
            {% elif item.sentiment <= -0.25 %}
            <span
              class="p-2 badge badge-danger m-2 rounded"
              style="font-size: 15px"
              >Negative</span
            >
            {% else %}
            <span
              class="p-2 badge badge-primary m-2 rounded"
              style="font-size: 15px"
              >Neutral</span
            >
            {% endif %}
          </div>
        </div>

        <div class="card-body px-4 pt-1 pm-3">
          <div
            style="white-space: unset"
          >
            {{item.review}}
          </div>
        </div>
        <!-- .card-body -->
      </div>
    </div>

        {% endfor %}
      
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $(".testselect").selectpicker();

      var x = $(".testselect button.bs-placeholder");

      x.append(
        '<i class="fas fa-sort-down " style="font-size:20px;margin-top:-5px"></i>'
      );
    });
  </script>
  {% endblock %}
</div>




      